#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Network;WebBrowser;
Encoding=UTF-8
Name=Google Chrome Web Browser (not installed yet, click to install it)
Name[pt_BR]=Navegador da Internet Google Chrome (não instalado, clique para instalar)
TryExec=google-chrome
Exec=google-chrome
Icon=Kamarada_helper
Terminal=false
StartupNotify=false
Type=Application