#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Network;Email;GTK;
Encoding=UTF-8
Name=Thunderbird Mail/News Client (not installed yet, click if you want to install it)
Name[pt_BR]=Cliente de e-mail/notícias Thunderbird (não instalado, clique se quiser instalar)
TryExec=thunderbird
Exec=thunderbird
Icon=Kamarada_helper
Terminal=false
StartupNotify=false
Type=Application